.mg-top {
	margin-top: 60px;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: -50%;
    bottom: 0;
    right: 50%;
    /* left: 0; */
    /* margin: auto; */
    transform: translate(50%,50%);
}

.mg-top form {
	padding: 0px 25px 25px 25px;
    box-shadow: 0px 0px 1px #f5f5f5;
    overflow: hidden;

}

.box {
  width:100%;
  max-height:200px;
  height:100%;
  display: table;
  cursor:pointer;
  box-shadow: 1px 2px 7px #bbb;
}
.box:hover span:last-child {
  color:#fff;
  -webkit-transition: background 0.8s,color 0.8s; /* Safari */
  transition: background 0.8s,color 0.8s;
}

.box span {
  -webkit-transition: background 1.5s,color 0.8s; /* Safari */
  transition: background 1.5s,color 0.8s;
}
.box span:first-child {
    height: 100px;
    float: left;
    width: 80px;
}
.box span:first-child .glyphicon {
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
    line-height: 96px;
}
.box span:last-child {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    width: 100%;
}
.prod span:first-child,.prod:hover span:last-child {
  background:#ff8a63;
}
.prod span:last-child {
    color:#ff8a63;
}
.atm span:first-child,.atm:hover span:last-child {
  background:#57bede;
}
.atm span:last-child {
  color:#57bede;
}
.branch span:first-child,.branch:hover span:last-child {
  background:#af9adb;
}
.branch span:last-child {
  color:#af9adb;
}
.labelbx span:first-child,.labelbx:hover span:last-child {
  background:#6dc7bc;
}
.labelbx span:last-child {
  color:#6dc7bc;
}
.nopadding {
  padding:0px !important;
}


/*Dynamic Sections*/

.prod-section .glyphicon,.prod-section {
  color:#ff8a63;
}
.atm-section .glyphicon,.atm-section {
  color:#57bede;
}
.branch-section .glyphicon,.branch-section {
  color:#af9adb;
}
.labelbx-section .glyphicon,.labelbx-section {
  color:#6dc7bc;
}
/*Dashboard Css*/
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*Card*/
.card {
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 2;
  padding:16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#fafafa;
}
/* Products*/
  /*Loans*/
  .all-prod {
    overflow: hidden;
  }
  .Loans-title {
    font-size:25px;
    color:rgba(222,53,98,1);
  }
  .loans {
    background: rgba(222,53,98,1);
  }
  .ccard {
    background: #1690db;
  }
  .card-title {
    font-size:25px;
    color:#1690db;
  }
.loans .glyphicon-usd {
  font-size: 28px;
}
.data-section-product h4 {
  margin-top:20px;
}
  /*Credit card*/
.ccard .glyphicon-credit-card, .bank .glyphicon-briefcase,.invest .glyphicon-erase{
  font-size: 28px;
}
.card h5 {
  font-size:16px;
}
.bank-title {
  font-size:25px;
  color:#68c253;
}
.bank {
  background:#68c253;
}
.invest-title {
  font-size:25px;
  color:#f57c20;
}
.invest {
  background:#f57c20;
}
.atmcard {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    margin: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-height: 202px;
}
.atmcard .citybg {
  background:url("../images/city1.jpg") no-repeat;
  height:110px;
  position: relative;
}
.atmcard .citybg span {
    position: absolute;
    background: rgba(0,0,0,0.45);
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 110px;
}
.atmaddress {
  padding:16px;
}

/*.active {
  background : red;
}*/

