<div class="container">
  <div class="col-sm-12 col-md-12  main" >
    <h1 class="page-header">Dashboard</h1>
      <div class="row placeholders">
        <div class="col-xs-12 col-sm-3 placeholder" data-ng-repeat="service in appCtrl.serviceTypes" data-ng-click="appCtrl.setActive(service.type); appCtrl.fetchServiceData(service.id)" ng-class="{active : appCtrl.activeMenu === service.type}">
          <div class="{{service.class}}" >
              <span><span class="glyphicon glyphicon-{{service.icon}}" aria-hidden="true"></span></span>
              <span>{{service.type}}</span>
          </div>
        </div>
      </div>

      <div ng-if = "appCtrl.dispProp.product" class="data-section-product">

        <!-- Dynamic Data to load here -->
        <h2 class="prod-section sub-header"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;Products</h2>
        <div class="all-prod">
            <h4 class="Loans-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Loans</h4>
            <div class="col-sm-6 col-md-4 col-xs-12 nopadding" ng-repeat="loan in appCtrl.data.loans">
              <div class="card loans">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                </div>  
                <h5 class="text-center">{{loan.Name}}</h5>
                <hr>
                <span><b>Loan Details :-</b></span>
                <ul>
                  <li>Max. Tenure - {{loan.More_info.Maximum_tenure}}</li>
                  <li>Rate Of Interest - {{loan.More_info.Rate_of_interest}}</li>
                 </ul>
              </div> 
            </div>
        </div>
        <div class="all-prod">
            <h4 class="card-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Credit Cards</h4>
            <div class="col-sm-4 col-md-4 col-xs-12 nopadding" ng-repeat="ccard in appCtrl.data.credit_card">
              <div class="card ccard">
                <div class="text-center"> 
                  <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                </div>  
                 <h5 class="text-center"><b>{{ccard.Name}}</b></h5>
                 <hr>
                 <span><b>Card Details :-</b></span>
                 <ul>
                  <li>Rewards - {{ccard.More_info.Rewards}}</li>
                  <li>Conversion Rate - {{ccard.More_info.Rewards_conversion_rate}}</li>
                  <li>Withdrawal Limit - {{ccard.More_info.Withdrawal_limits}}</li>
                 </ul>
              </div>
            </div>
        </div>
        <div class="all-prod">
            <h4 class="bank-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Banking</h4>
            <div class="col-sm-4 col-md-4 col-xs-12 nopadding" ng-repeat="bank in appCtrl.data.banking">
              <div class="card bank">
                <div class="text-center"> 
                  <span class="glyphicon glyphicon-briefcase text-center" aria-hidden="true"></span>
                </div>  
                <h5 class="text-center"><b>{{bank.Name}}</b></h5>
                 <hr> 
                 <span><b>Account Details :-</b></span>
                 <ul>
                  <li>Rate Of Interest - {{bank.More_info.rate_of_interest}}</li>
                 </ul>
              </div>
            </div>
        </div>
        <div class="all-prod">
            <h4 class="invest-title"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;Investments</h4>
            <div class="col-sm-4 col-md-4 col-xs-12 nopadding" ng-repeat="invest in appCtrl.data.investment">
              <div class="card invest"> 
                <div class="text-center"> 
                  <span class="glyphicon glyphicon-erase text-center" aria-hidden="true"></span>
                </div> 
                <h5 class="text-center"><b>{{invest.Name}}</b></h5>
                 <hr>
                 <span>Interest Slabs</span> 
                 <ul>
                    <li ng-repeat="item in invest.More_info.Interest_slabs">Period - {{item.Text}} then ROI - {{item.Rate_of_interest}}</li>
                 </ul>
              </div>
            </div>
        </div>
      </div>
      <div ng-if = "appCtrl.dispProp.atm" class="data-section-Atm">
        <h2 class="atm-section sub-header"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;ATM's</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xs-12" ng-repeat="atm in appCtrl.data">
                <div class="atmcard">
                  <div class="citybg">
                    <span>{{atm.address.city}}</span>
                  </div>
                  <div class="atmaddress">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Address :- {{atm.address.housenumber}}, {{atm.address.postalcode}}, {{atm.address.street}}.
                    Latitude - {{atm.address.geoLocation.lat}}, Longitude - {{atm.address.geoLocation.lng}}
                 </div>
                 </div> 
            </div>
        </div>
      </div>
      <div ng-if="appCtrl.dispProp.branch" class="data-section-branch">
        <h2 class="branch-section sub-header"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Branches</h2>
        <div class="all-prod">
            <div class="card all-prod" ng-repeat="branch in appCtrl.data">
              <div class="col-md-6 col-xs-12 branchimg">
                <img src="images/branch.jpg" alt="Branch"/>
              </div>  
              <div class="col-md-6 col-xs-12">
                  <h4 class="bname">{{branch.BranchName}}</h4>
                  <span class="bidenti">{{branch.BranchIdentification}}</span>
                  <hr>
                  <div class="baddress"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;{{branch.Address.BuildingNumberOrName}}, {{branch.Address.Country}}, {{branch.Address.StreetName}}, {{branch.Address.TownName}}, {{branch.Address.PostCode}}
                  <br>
                  <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp; {{branch.TelephoneNumber}}
                  </div>
                  <div class="bservices">
                    <h5>Branch Services</h5>
                    <ul>
                        <li ng-repeat="service in branch.BranchMediatedServiceName">
                          {{service}}
                        </li>
                    </ul>
                  </div>
              </div> 
            </div>
        </div>        
      </div>
      <div ng-if="appCtrl.dispProp.label" class="data-section-label">
        <h2 class="labelbx-section sub-header"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Labels</h2>
        <div class="col-lg-12 text-center csoon">
          Coming Soon...!

        </div>
      </div>
  </div>
</div>        