<div class="container">
  <div class="col-sm-12 col-md-12  main" >
    <h1 class="page-header">Dashboard</h1>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder" data-ng-repeat="service in appCtrl.serviceTypes" data-ng-click="appCtrl.fetchServiceData(service.id)">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>{{service.type}}</h4>
        </div>
      </div>

      <div ng-if = "appCtrl.dispProp.product" class="data-section-product col-md-12">

        <!-- Dynamic Data to load here -->
        <h2 class="sub-header">Products</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Sub-Category</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Rate of Interest</th>
                        <th scope="col">Maximum Tenure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in appCtrl.data">
                        <td>{{product.Category}}</td>
                        <td>{{product.Sub-Category}}</td>
                        <td>{{product.Text}}</td>
                        <td>{{product.More-info.Rate-of-interest}}</td>
                        <td>{{product.More-info.Maximum-tenure}}</td>
                      </tr>
                    </tbody>
                 </table>   
            </div>
          </div>
        </div>
      </div>
      <div ng-if = "appCtrl.dispProp.atm" class="data-section-Atm col-md-12">
        <h2 class="sub-header">ATM's</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">House No.</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">Postol Code</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                      </tr>
                    </tbody>
                 </table>
            </div>
          </div>
        </div>
      </div>
      <div ng-if = "appCtrl.dispProp.branch" class="data-section-branch col-md-12">
        <h2 class="sub-header">Branches</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Branch Type</th>
                        <th scope="col">Branch Identification</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Customers</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                      </tr>
                    </tbody>
                 </table>
            </div>
          </div>
        </div>        
      </div>
  </div>
</div>        