<div class="container">
  <div class="col-sm-12 col-md-12  main" >
    <h1 class="page-header">Dashboard</h1>
      <div class="row placeholders">
        <div class="col-xs-12 col-sm-3 placeholder" data-ng-repeat="service in appCtrl.serviceTypes" data-ng-click="appCtrl.setActive(service.type); appCtrl.fetchServiceData(service.id)" ng-class="{active : appCtrl.activeMenu === service.type}">
          <div class="{{service.class}}" >
              <span><span class="glyphicon glyphicon-{{service.icon}}" aria-hidden="true"></span></span>
              <span>{{service.type}}</span>
          </div>
        </div>
      </div>

      <div ng-if = "appCtrl.dispProp.product" class="data-section-product">

        <!-- Dynamic Data to load here -->
        <h2 class="prod-section sub-header"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;Products</h2>
        <div class="row">
            <h4>Loans</h4>
            <div class="col-sm-6 col-md-4 col-xs-12">
              <div class="card"></div> 
            </div>
        </div>
        <div class="row">
            <h4>Credit Cards</h4>
            <div class="col-sm-6 col-md-6 col-xs-12">
              <div class="card">  
              </div>
            </div>
        </div>
        <div class="row">
            <h4>Banking</h4>
            <div class="col-sm-6 col-md-6 col-xs-6">
              <div class="card">  
              </div>
            </div>
        </div>
        <div class="row">
            <h4>Investments</h4>
            <div class="col-sm-12 col-md-12 col-xs-12">
              <div class="card">  
              </div>
            </div>
        </div>
      </div>
      <div ng-if = "appCtrl.dispProp.atm" class="data-section-Atm">
        <h2 class="atm-section sub-header"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;ATM's</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xs-12" ng-repeat="atm in appCtrl.data">
                <div class="atmcard">
                  <div class="citybg">
                    <span>{{atm.address.city}}</span>
                  </div>
                  <div class="atmaddress">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Address :- {{atm.address.housenumber}}, {{atm.address.postalcode}}, {{atm.address.street}}.
                    Latitude - {{atm.address.geoLocation.lat}}, Longitude - {{atm.address.geoLocation.lng}}
                 </div> 
            </div>
        </div>
      </div>
      <div ng-if = "appCtrl.dispProp.branch" class="data-section-branch">
        <h2 class="branch-section sub-header"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Branches</h2>
        <div class="row">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Branch Name</th>
                        <th scope="col">Branch Type</th>
                        <th scope="col">Branch Identification</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Customers</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                      </tr>
                    </tbody>
                 </table>
            </div>
        </div>        
      </div>
  </div>
</div>        